# Ignorer les fichiers compilés
*.class

# Ignorer les fichiers générés par Maven
target/

# Ignorer les fichiers de logs
*.log

# Ignorer les fichiers de configuration des IDE (IntelliJ, Eclipse, NetBeans)
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/

# Ignorer les fichiers des systèmes d'exploitation
.DS_Store  # macOS
Thumbs.db  # Windows

# Ignorer les fichiers temporaires
*.swp
